<html lang="se">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<title>Resultatet</title>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MBBFB4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MBBFB4');</script>
<!-- End Google Tag Manager -->
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>Ditt resultat</h1>
				</div>
			</div>		
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4 text_center">
					<span class="">Du fick</span>
					<span class="jumbotext">{{ correct }}</span>
					<span class="">av {{ total }} rätt!</span>
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p></p>
					<center><a href="{% url 'start_page' %}" type="button" class="btn btn-primary btn-lg">Testa ett annat quiz</a></center>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<img src="/static/meme.jpg" alt="Mimsen" >
				<span class="small">Maria Elvin 2016, #Tjejerkodar i Barcelona</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>