<html lang="se">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="/static/text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="/static/text/css" href="css/mycss.css">
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<title>Fråga</title>
</head>
<body>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>Fråga 1</h1>
				</div>
			</div>		
			<div class="row">
				<div class="col-md-12">
					<h2>Första frågan</h2>
					<p>Alla HTML-taggar är omslutna av vad?</p>
				</div>		
			<form>
				<div class="row">
					<div class="col-md-12 col-padding">
						<p><input type="radio" name="answer" value="1"># och #</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-padding">
						<p><input type="radio" name="answer" value="2">< och ></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-padding">
						<p><input type="radio" name="answer" value="3">! och !</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-padding">
						<input class="btn btn-primary btn-lg btn-block" type="submit" value="Nästa fråga">
					</div>
				</div>
			</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<a href="results.html">Till resultatsidan</a>
</body>
</html>