<html lang="se">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
	<link rel="shortcut icon" href="//static/static/favicon.ico" />
	<title>Fråga</title>
</head>
<body>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>Fråga {{ question_number }}</h1>
				</div>
			</div>		
			<div class="row">
				<div class="col-md-12">
					
					<p>{{ question }}</p>
				</div>		
			<form>
				<div class="row">
					<div class="col-md-12 col-padding">
						<p><input type="radio" name="answer" value="1"> {{ answer1 }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-padding">
						<p><input type="radio" name="answer" value="2"> {{ answer2 }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-padding">
						<p><input type="radio" name="answer" value="3"> {{ answer3 }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-padding">
						<input class="btn btn-primary btn-lg btn-block" type="submit" value="Nästa fråga">
					</div>
				</div>
			</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<a href="results.html">Till resultatsidan</a>
</body>
</html>