<html lang="se">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<title>MHTML-quiz</title>
</head>
<body>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>Testa dina kunskaper i HTML</h1>
				</div>
			</div>		
			<div class="row">
				<div class="col-md-6 col-padding">
					<h2>Testa dina HTML-kunskaper</h2>
					<p>Hur vass är du på HTML efter kursen? Har det du lärt dig under kursens gång fastnat? Ta reda på det genom att starta detta quiz. Nu kör vi!</p>
				</div>
				<div class="col-md-6 col-padding">
					<img src="/static/htmlbild.jpg" alt="Bilden föreställer lite html-kod" align="center" class="img-rounded" width="275"><br>
				</div>
			<div class="row">
				<div class="col-md-12 col-padding">
					<form action="question.html">
					<button class="btn btn-primary btn-lg btn-block">Starta</button>
					</form>
				</div>
			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>