<!DOCTYPE html>
<html lang="se">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<title>Mimsens Quizzzes</title>
</head>
<body>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>Mimsens frågesportsajt</h1>
					<h3>Testa dina kunskaper från #100tjejerkodar i Barcelona, web.dev-spåret.</h3>
				</div>
			</div>		
			<div class="row">
				<div class="col-md-6">
					<h3>Har du lärt dig något den här veckan?</h3>
					<p>Här kan du testa på dina kunskaper i HTML, CSS och Python.</p>
				</div>		
				<div class="col-md-6">
					<div class="row">
					{% for quiz in quizzes %}
						<div class="col-md-12">
							<button class="btn btn-primary btn-lg btn-block" type="button"><a href="{% url 'quiz_page' quiz.quiz_number %}">{{ quiz.name }}</a></button><br>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<img src="/static/meme.jpg" alt="Mimsen" >
				<p align="right">© Copyright Maria Elvin 2016</p>
			</div>
		</div>
	</div>
</body>
</html>